{% extends '_base.html' %}
{% load static %}
{% block css %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'css/main.css' %}">
<style>
	@font-face {
    font-family: Sitefont-book;
    src: url({% static '/fonts/book.otf' %});
}

@font-face {
    font-family: Sitefont-Medium;
    src: url({% static '/fonts/medium.otf'%});
}
</style>
{% endblock css %}
{% block body %}
<div class="navbar" id="navbar">
	<nav>
		<input type="checkbox" id="nav" class="hidden">
		<label for="nav" class="nav-btn">
			<i></i>
			<i></i>
			<i></i>
		</label>
		<div class="logo">
			<a href="{% url 'home' %}"><img src="{% static '/svgs/logo.svg' %}" alt="Circlr" id="logo"></a>
		</div>
		<div class="nav-wrapper">
			<ul class="navigation">
				{% if user.is_authenticated %}
				<li><a href="{% url 'home' %}">Home</a></li>
				<li><a href="{% url 'matching' %}">Find Friends</a></li>
				<li><a href="{% url 'chat:index' %}">Messaging</a></li>
				<li><a href="{% url 'polls:index' %}">Polls</a></li>
				<li><a href="{% url 'forum-home' %}">Forums</a></li>
				<li class="drop">
					<input type="checkbox" id="drop" class="hidden" />
					<label for="drop" class="drop-btn">{{user.username}} <i class="arrow down"></i></label>
					<div class="dropdown">
						<p><a href="{% url 'accounts:profile' request.user.username %}">Profile</a></p>
						<p><a href="{% url 'accounts:logout' %}">Logout</a></p>
					</div>
				</li>
				{% else %}
				<li><a href="{% url 'forum-home' %}">Forums</a></li>
				<li><a href="{% url 'accounts:login'%}">Login</a></li>
				<li><a href="{% url 'accounts:signup' %}">Signup</a></li>
				{% endif %}
			</ul>
		</div>
	</nav>
</div>
{% block content %}
{% endblock content %}
{% block chat %}
{% endblock chat %}
{% endblock body %}
{% block js %}
{{ block.super }}
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="{% static 'js/main.js' %}"></script>
{% endblock js %}

</html>