{% extends 'base.html'%}
{%block head%}
  <title>Your Friends and requests</title>
{% endblock%}
{%block content%}

<div class="col-md-6">
<div class="panel-group">
  <div class="panel panel-success">
    <div class="panel-heading"><h1 >FRIENDS:</h1></div>
      <div class="panel-body">
        <div>
          <ul>
            {% for frnd in friends %}
              <li class="list-group-item list-group-item-success"><a href=''><h4>{{frnd}}</h4></a><br></li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
</div>




<!-- displayong pending friend requests part -->
<div class="col-md-6">
<div class="panel-group">
<div class="panel panel-warning">
<div class="panel-heading"><h1 >FRIENDS REQUESTS:</h1></div>
<div class="panel-body">
<div>
  <ul>
    {% for fr in pendingfrnds %}
      <li class="list-group-item list-group-item-warning"><a href=''><h4>{{fr}}</h4></a><br>
        <button type='submit' name='accept request' class="btn btn-primary">Accept</button>
        <button type='submit' name='decline request' class="btn btn-danger">Decline</button>
      </li>
    {% endfor %}
  </ul>
</div>
</div>
</div>
</div>
</div
</div>
{% endblock %}
