{% extends "base.html" %}
{% block content %}
<div class="row" style="position: relative;">
	<span class="text-info"><h3>Forums:</h3></span>
	{% if user.is_authenticated %}
		<a class="btn btn-outline-dark offset-9" href="{% url 'forum-create' %}" style="float: right;"> Create a forum </a>
	{% endif %}
</div>
<br>
{% if latest_forums %}
	{% for forum in latest_forums %}
		{% if forum.viewprivacy == 3 and user == forum.creatorid or forum.viewprivacy == 1 or forum.viewprivacy == 2 and user.is_authenticated %}
			<h3><a href="{% url 'forumpage' forum.slug %}">{{ forum.forumname }}<span style="float: right">{{ forum.createdate }}</span></a></h3><br>
		{% endif %}
	{% endfor %}
{% else %}
	<p>No forums are available. {% if user.is_authenticated %}Go create some!{%else%}Login to create some!{% endif %}</p>
{% endif %}
{% endblock %}