{% extends 'base.html' %}
{% block content %}
{% load staticfiles %}
<center>
    <img src="{% static 'html.gif' %}" type="gif">
<h1 style="color:#7D3C98"> Poll Added Succesfully!!</h1>

    <input type="text" hidden value="127.0.0.1:8000/polls/{{ questionid }}" id="share">
    <button class="btn waves-effect waves-light" onclick="myFunction()" name="action">Share Poll</button>
</center>
<script>
    function myFunction() {
  /* Get the text field */
  var copyText = document.getElementById("share");

  /* Select the text field */
  copyText.select();

  /* Copy the text inside the text field */
  document.execCommand("copy");

  /* Alert the copied text */
  alert("Copied to clipboard: " + copyText.value);
}
</script>
{% endblock content %}