{% extends 'base.html' %}

{% block content %}
<div class="sidepad" style="width:33%;margin-top:80px;padding:10px;float: left;"></div>
<div class="sidepad" style="width:33%;margin-top:80px;padding:10px;float: right;"></div>
<div class="centercontent" style="width:34%;max-width:1400px;margin-top:20px;padding:10px;float: right;">
      <h1>Edit Your Profile</h1>
      <form method="post">
            {% csrf_token %}
            {{ form }}
            <button type="submit">Submit</button>
      </form>
      <br>
</div>
{% endblock %}