{% extends 'base.html' %}

{% block content %}
<div class="sidepad" style="width:33%;margin-top:80px;padding:10px;float: left;"></div>
<div class="sidepad" style="width:33%;margin-top:80px;padding:10px;float: right;"></div>
<div class="centercontent" style="width:34%;max-width:1400px;margin-top:20px;padding:10px;float: right;">
  <h1>Password Reset Complete</h1>
  <p>
    Your password has been reset. You can now login
  </p>
  <a href="{% url 'accounts:login' %}">Login</a>
</div>
{% endblock %}